<div>
  <div class="container">
    <div class="col-xl-12">
      <h1>Definición de objetivos operativos</h1>
      <form autocomplete="off" [formGroup]="form">     
        <div class="row mt-5">
          <div class="col-lg-12">
            <div>
              <label>Objetivo estratégico a vincular</label>
              <select class="custom-select" formControlName="idObjetivoEstrategico">
                <option selected disabled value="">Seleccione</option>
                <option [value]="objetivoEstrategico.id" *ngFor="let objetivoEstrategico of objetivosEstrategicos">{{objetivoEstrategico.nombre}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-11">
            <div>
              <label>Nombre del objetivo operativo</label>
              <input class="form-control" type="text" formControlName="descripcion">
            </div>
          </div>
          <div class="col-lg-1" style="margin-top: 28px;">
            <input type="button" class="btn btn-primary btn-block waves-effect" value = "+">
          </div>     
        </div>
        <div class="row card-block mt-5">
          <div class="col-lg-6">
            <input [routerLink]="['..']" type="submit" class="btn btn-primary btn-block waves-effect" (click)='enviarFormulario(form)' *ngIf="!form.value.id else botonActualizar" value = "Crear">
            <ng-template #botonActualizar>
              <input [routerLink]="['..']" type="submit" class="btn btn-primary btn-block waves-effect" (click)="enviarFormulario(form)" value="Modificar Objetivo">
            </ng-template>
          </div>
          <div class="col-lg-6">
            <input [routerLink]="['..']" type="button" class="btn btn-danger btn-block waves-effect" value="Cancelar">
          </div>
        </div>
      </form>
    </div>  
  </div>
</div>


