<div>
    <div class="container">
        <div class="col-xl-12">
            <h1>Programación de acciones - POM </h1>
            <form autocomplete="off" [formGroup]="form">
                <div class="row mt-5">
                    <div class="col-lg-4">
                        <div>
                            <label>Periodo</label>
                            <select class="custom-select" formControlName="periodo">
                  <option selected disabled value="">Seleccione</option>
                  <option [value] >2021-2025</option>
                  <option [value]>2026-2030</option>
                  <option [value]>2031-2035</option> 
                </select>
                            <!-- <small *ngIf="alcanceNoValido" class="form-text text-danger">
                      Este campo es obligatorio
                  </small> -->
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-12">
                        <div>
                            <label>Acción </label>
                            <select class="custom-select" formControlName="accion">
                  <option selected disabled value="">Seleccione</option>
                  <option [value] >Acción 1</option>
                  <option [value]>Acción 2</option> 
                </select>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-lg-4">
                        <div>
                            <label>Unidad de medida</label>
                            <select class="custom-select" formControlName="unidadMedida">
                  <option selected disabled value="">Seleccione</option>
                  <option [value] >Oficio</option>
                  <option [value]>Acuerdo</option> 
                </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label>Medio de verificación</label>
                            <select class="custom-select" formControlName="medioVerificacion">
                  <option selected disabled value="">Seleccione</option>
                  <option [value]>Oficio</option>
                  <option [value]>Otros</option>
                </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div style="margin-top: 28px;">
                            <input class="form-control" type="text" formControlName="medioVerificacion" disabled>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-lg-4">
                        <div>
                            <label>Indicador</label>
                            <input class="form-control" type="text" formControlName="indicador">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label>Fórmula del indicador</label>
                            <input class="form-control" type="text" formControlName="formulaIndicador">
                        </div>
                    </div>
                </div>

                <hr class="mt-5">
                <h2>Programación</h2>
                <div class="row mt-5">
                    <div class="col-lg-2">
                        <div>
                            <label>Año 2021</label>
                            <input class="form-control" type="text" formControlName="enero">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <label>Año 2022</label>
                            <input class="form-control" type="text" formControlName="febrero">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <label>Año 2023</label>
                            <input class="form-control" type="text" formControlName="marzo">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <label>Año 2024</label>
                            <input class="form-control" type="text" formControlName="abril">
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <label>Año 2025</label>
                            <input class="form-control" type="text" formControlName="abril">
                        </div>
                    </div>
                </div>

                <h4 class="mt-5 text-center">Total programado</h4>
                <div class="row mt-2">
                    <div class="col-lg-4 text-center">
                        <div>
                            <input class="form-control" type="text" formControlName="totalProgramado" disabled>
                        </div>
                    </div>
                </div>

                <div class="row card-block mt-5">
                    <div class="col-lg-6">
                        <input [routerLink]="['..']" type="submit" class="btn btn-primary btn-block waves-effect" (click)="enviarFormulario(form)" *ngIf="!form.value.id else botonActualizar" value="Crear Programación">
                        <ng-template #botonActualizar>
                            <input [routerLink]="['..']" type="submit" class="btn btn-primary btn-block waves-effect" (click)="enviarFormulario(form)" value="Modificar Programación">
                        </ng-template>
                    </div>
                    <div class="col-lg-6">
                        <input [routerLink]="['..']" type="button" class="btn btn-danger btn-block waves-effect" value="Cancelar">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>