<div>
    <div class="container">
        <div class="col-xl-12">
            <h1>Encabezado</h1>
            <form autocomplete="off" [formGroup]="form" (ngSubmit)="guardar()">
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div>
                            <label>Programa Presupuestario</label>
                            <select class="custom-select" formControlName="programaPresupuestario">
                                <option selected disabled value="">Seleccione</option>
                                <option [value] >programa 1</option>
                                <option [value] >programa 2</option> 
                            </select>
                        </div>
                    </div>         
                    <div class="col-lg-6">
                        <div>
                            <label>Subprograma</label>
                            <input class="form-control" type="text" formControlName="subprograma" disabled>
                            <!--esto se debe de agregar despues del formControlName para realizar la validacion del campo [class.is-invalid]="procesoNoValido" -->
                            <!-- <small *ngIf="procesoNoValido" class="form-text text-danger">
                                Este campo es obligatorio
                            </small> -->
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div>
                            <label>Resultado Institucional</label>
                            <input class="form-control" type="text" formControlName="resultaoInstitucional" disabled>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <label>Dependencia responsable</label>
                            <select class="custom-select" formControlName="dependenciaResponsable" disabled>
                                <option selected disabled value="">Seleccione</option>
                                <option [value] >Informática y Estadística</option>
                                <option [value] >RRHH</option> 
                            </select>
                        </div>
                    </div>                        
                </div>


                <div class="row mt-5">
                    <div class="col-lg-4">
                        <div>
                            <label>Actividad Presupuestaria</label>
                            <select class="custom-select" formControlName="actividadPresupuestaria">
                                <option selected disabled value="">Seleccione</option>
                                <option [value] >actividad 1</option>
                                <option [value] >actividad 2</option> 
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label>Producto</label>
                            <input class="form-control" type="text" formControlName="producto" disabled>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div>
                            <label>Subproducto</label>
                            <input class="form-control" type="text" formControlName="subproducto" disabled>
                        </div>
                    </div>
                    <div class="col-lg-1" style="margin-top: 28px;">
                        <input type="submit" class="btn btn-primary btn-block waves-effect" value = "+">
                    </div>                
                </div>

                <div class="row card-block mt-5">
                    <div class="col-lg-4">
                    <input type="submit" class="btn btn-primary btn-block waves-effect" value = "Crear encabezado">
                    </div>
                    <div class="col-lg-4">
                    <input type="button" class="btn btn-dark btn-block waves-effect" value = "Limpiar campos" >
                    </div>
                    <div class="col-lg-4">
                        <input [routerLink]="['acciones']" type="button" class="btn btn-danger btn-block waves-effect" value="Cancelar">
                    </div>
                </div>

            </form>
        </div>  
    </div>
</div>

