<div>
  <div class="container">
    <div class="col-xl-12">
      <h1>Encabezado</h1>
      <form autocomplete="off" [formGroup]="form">
        <div class="row mt-5">
          <div class="col-lg-6">
            <div>
              <label>Programa Presupuestario</label>
              <select class="custom-select" formControlName="idProgramaPresupuestario">
                <option selected disabled value="">Seleccione</option>
                <option [value]="programa.id" *ngFor="let programa of programas">{{programa.numeroPrograma}} - {{programa.descripcion}}</option>
              </select>
            </div>
          </div>         
          <div class="col-lg-6">
            <div>
              <label>Subprograma</label>
              <select class="custom-select" formControlName="idSubprograma">
                <option selected disabled value="">Seleccione</option>
                <option [value]="subprograma.id" *ngFor="let subprograma of subprogramas">{{subprograma.numeroSubprograma}} - {{subprograma.descripcion}}</option>
            </select>
              <!--esto se debe de agregar despues del formControlName para realizar la validacion del campo [class.is-invalid]="procesoNoValido" -->
              <!-- <small *ngIf="procesoNoValido" class="form-text text-danger">
                  Este campo es obligatorio
              </small> -->
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-6">
            <div>
              <label>Resultado Institucional</label>
              <select class="custom-select" formControlName="idResultadoInstitucional">
                <option selected disabled value="">Seleccione</option>
                <option [value]="resultado.id" *ngFor="let resultado of resultadoInstitucional">{{resultado.nombre}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div>
              <label>Dependencia responsable</label>
              <select class="custom-select" formControlName="idDependenciaResponsable" disabled>
                <option selected disabled value="">Seleccione</option>
                <option [value] >Informática y Estadística</option>
                <option [value] >RRHH</option> 
              </select>
            </div>
          </div>                        
        </div>
        <div [formGroup]="formDetalle">
          <div class="row mt-5">
            <div class="col-lg-4">
              <div>
                <label>Actividad Presupuestaria</label>
                <select class="custom-select" formControlName="idActividadPresupuestaria">
                  <option selected disabled value="">Seleccione</option>
                  <option [value]="actividad.descripcion" *ngFor="let actividad of actividades">{{actividad.numeroActividad}} - {{actividad.descripcion}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-4">
              <div>
                <label>Producto</label>
                <select class="custom-select" formControlName="idProducto">
                  <option selected disabled value="">Seleccione</option>
                  <option [value]="producto.id" *ngFor="let producto of productos">{{producto.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3">
              <div>
                <label>Subproducto</label>
                <select class="custom-select" formControlName="idSubproducto">
                  <option selected disabled value="">Seleccione</option>
                  <option [value]="subproducto.id" *ngFor="let subproducto of subproductos">{{subproducto.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-1" style="margin-top: 28px;">
              <button (click)="agregarItem()" nbTooltip="Agregar" nbTooltipPlacement="top" nbButton status="control" type="button" class="btn btn-primary btn-block waves-effect">+</button>
            </div>                
          </div>
        </div>
        <div class="container mt-5">
					<table class="table table-striped table-bordered row-border hover responsive" style="margin: 0 auto;">
						<thead class="thead-dark">
							<tr>
								<th class="text-center">#</th>
                <th class="text-center">Nombre de la actividad</th>	
                <th class="text-center">Nombre del producto</th>
                <th class="text-center">Nombre del subproducto</th>	
								<th class="text-center">Opciones</th>
							</tr>
						</thead>
						<tbody formArrayName="items">
							<tr *ngFor="let item of items.controls; let i = index">
								<td class="text-center" style="width: 20px;">{{i + 1}}</td>
								<td style="width: 500px;">
									{{item.get('idActividadPresupuestaria').value}}
                </td>
                <td style="width: 500px;">
									{{item.get('idProducto').value}}
                </td>
                <td style="width: 500px;">
									{{item.get('idSubproducto').value}}
								</td>
								<td class="text-center" style="width: 200px;">
                  <button nbTooltip="Editar" nbTooltipPlacement="bottom" nbButton status="control" type="button" class="btn btn-sm btn-success mr-2" (click)="editarItem(i)"> <nb-icon icon="edit-2-outline"></nb-icon>
                  </button>
									<button nbTooltip="Eliminar" nbTooltipPlacement="bottom" nbButton status="control" type="button" class="btn btn-sm btn-danger" (click)="eliminarItem(i)"> <nb-icon icon="trash-2-outline"></nb-icon></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
        <div class="row card-block mt-5">
          <div class="col-lg-4">
            <input type="submit" class="btn btn-primary btn-block waves-effect" (click)='enviarFormulario(form)' value = "Crear encabezado">
          </div>
          <div class="col-lg-4">
            <input type="button" class="btn btn-dark btn-block waves-effect" (click)='form.reset()' (click)='limpiarTabla()'  value = "Limpiar campos" >
          </div>
          <div class="col-lg-4">
            <input [routerLink]="['acciones']" type="button" class="btn btn-danger btn-block waves-effect" value="Cancelar">
          </div>
        </div>
      </form>
    </div>  
  </div>
</div>

