<div>
    <div class="container">
        <div class="col-xl-12">
            <h1>Reprogramación de metas</h1>
            <form autocomplete="off" [formGroup]="form" (ngSubmit)="guardar()">
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div>
                            <label>Producto</label>
                            <select class="custom-select" formControlName="producto">
                                <option selected disabled value="">Seleccione</option>
                                <option [value]>Producto 1</option>
                                <option [value]>Producto 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <label>Subproducto</label>
                            <select class="custom-select" formControlName="subproducto">
                                <option selected disabled value="">Seleccione</option>
                                <option [value] >Subproducto 1</option>
                                <option [value] >Subproducto 2</option> 
                            </select>
                            <!-- <small *ngIf="alcanceNoValido" class="form-text text-danger">
                                Este campo es obligatorio
                            </small> -->
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div>
                            <label>Periodo</label>
                            <select class="custom-select" formControlName="periodo">
                                <option selected disabled value="">Seleccione</option>
                                <option [value] >Año 2020</option>
                                <option [value]>Año 2021</option> 
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div>
                            <label>Mes a reprogramar</label> 
                            <select class="custom-select" formControlName="mesProgramacion">
                                <option selected disabled value="">Seleccione</option>
                                <option [value] >Enero</option>
                                <option [value]>Febrero</option> 
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row mt-5">
                    <div class="col-lg-4">
                        <div>
                            <label>Cantidad programada</label>
                            <input class="form-control" type="text" formControlName="cantidadProgramada" disabled>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <label>Programación requerida</label>
                            <input class="form-control" type="text" formControlName="programacionRequerida">
                        </div>
                    </div>       
                    <div class="col-lg-4">
                        <div>
                            <label>Nueva programación</label>
                            <input class="form-control" type="text" formControlName="nuevaProgramacion" disabled>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-lg-12">
                        <div>
                            <label>Justificación</label>
                            <textarea class="form-control" rows="2" placeholder="Ingrese aquí la justificación" formControlName="justificacion">
                            </textarea>
                        </div>
                    </div>  
                </div>
                
                <div class="row card-block mt-5">
                    <div class="col-lg-6">
                      <input type="submit" class="btn btn-primary btn-block waves-effect" value="Crear Programación">
                      <ng-template #botonActualizar>
                        <input type="submit" class="btn btn-primary btn-block waves-effect" value="Modificar Programación">
                      </ng-template>
                    </div>
                    <div class="col-lg-6">
                      <input [routerLink]="['..']" type="button" class="btn btn-danger btn-block waves-effect" value="Cancelar">
                    </div>
                  </div>

            </form>
        </div>  
    </div>
</div>


