<div>
	<div class="container">
		<div class="col-xl-12">
			<h1>Definición de la acción</h1>
			<form autocomplete="off" [formGroup]="form">
				<div formGroupName="accion">
					<div class="row mt-5">
						<div class="col-lg-6">
							<div>
								<label>Ejercicio fiscal</label>
								<select class="custom-select" formControlName="ejercicioFiscal" [class.is-invalid]="ejercicioFiscalInvalido">
									<option selected disabled value="">Seleccione</option>
									<option [value]>{{year}}</option>
								</select>
								<small *ngIf="ejercicioFiscalInvalido" class="text-danger">Este campo es requerido</small>
							</div>
						</div>
						<div class="col-lg-6">
							<div>
								<label>Objetivo Operativo</label>
								<select (change)="cargarEjeEstrategico($event.target.value)" class="custom-select" formControlName="idObjetivoOperativo" [class.is-invalid]="objetivoOperativolInvalido">
									<option selected disabled value="">Seleccione</option>
									<option [value]="objetivoOperativo.id" *ngFor="let objetivoOperativo of objetivosOperativos">{{objetivoOperativo.nombre}}</option>
								</select>
								<small *ngIf="objetivoOperativolInvalido" class="text-danger">Este campo es requerido</small>
							</div>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-lg-6">
							<div>
								<label>Objetivo Estrategico</label>
								<select class="custom-select" formControlName="objetivoEstrategico">
									<option selected disabled value="" *ngFor="let objetivoEstrategico of objetivoEstrategico">{{objetivoEstrategico.nombre}}</option>
								</select>
							</div>
						</div>
						<div class="col-lg-6">
							<div>
								<label>Eje Estrategico</label>
								<select class="custom-select" formControlName="ejeEstrategico">
									<option selected disabled value="" *ngFor="let ejeEstrategico of ejeEstrategico">{{ejeEstrategico.nombre}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-lg-6">
							<div>
								<label>Nombre de la dependencia</label>
								<input class="form-control" type="text" formControlName="idDependencia" [value]="dependenciaUsuario.nombre" [attr.disabled]="true">
							</div>
						</div>
						<div class="col-lg-6">
							<div>
								<label>Responsable</label>
								<select class="custom-select" formControlName="idPuestoResponsable" [class.is-invalid]="puestoResponsableInvalido">
									<option selected disabled value="">Seleccione</option>
									<option [value]="departamentoUsuario.id" *ngFor="let departamentoUsuario of departamentosUsuario">{{departamentoUsuario.nombre}}</option>
								</select>
								<small *ngIf="puestoResponsableInvalido" class="text-danger">Este campo es requerido</small>
							</div>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-lg-6">
							<div>
								<label>Meta de la Política General de Gobierno asociada</label>
								<select class="custom-select" formControlName="idPoliticaGobierno">
									<option selected disabled value="">Seleccione</option>
									<option [value]="politicaGobierno.id" *ngFor="let politicaGobierno of listadoPoliticasGobierno">{{politicaGobierno.nombre}}</option>
								</select>
							</div>
						</div>
						<div class="col-lg-6">
							<div>
								<label>Política pública asociada</label>
								<select class="custom-select" formControlName="idPoliticaPublica" [class.is-invalid]="politicaPublicaInvalido">
									<option selected disabled value="">Seleccione</option>
									<option [value]="politicaPublica.id" *ngFor="let politicaPublica of listadoPoliticasPublicas">{{politicaPublica.nombre}}</option>
								</select>
								<small *ngIf="politicaPublicaInvalido" class="text-danger">Este campo es requerido</small>
							</div>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-lg-12">
							<div>
								<label>Acción </label>
								<a style="color:blue; " nbTooltip="La acción es *********" nbTooltipPlacement="right" nbTooltipStatus="primary" nbButton status="control"> ?</a>
								<input class="form-control" type="text" formControlName="nombreAccion" [class.is-invalid]="nombreAccionInvalido">
								<small *ngIf="nombreAccionInvalido" class="text-danger">Este campo es requerido</small>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-5">
					<div formGroupName="accion" class="col-lg-6">
						<div>
							<label>Unidad de medida</label>
							<select class="custom-select" formControlName="idUnidadMedida" [class.is-invalid]="idUnidadMedidaInvalido">
								<option selected disabled value="">Seleccione</option>
								<option [value]="UnidadMedida.id" *ngFor="let UnidadMedida of listadoUnidadMedida">{{UnidadMedida.nombreUnidadMedida}}</option>
							</select>
							<small *ngIf="idUnidadMedidaInvalido" class="text-danger">Este campo es requerido</small>
						</div>
					</div>
					<div formGroupName="indicador" class="col-lg-6">
						<div>
							<label>Descripcion del indicador</label>
							<input class="form-control" type="text" formControlName="nombreIndicador" [class.is-invalid]="nombreIndicadorInvalido">
							<small *ngIf="nombreIndicadorInvalido" class="text-danger">Este campo es requerido</small>
						</div>
					</div>
				</div>
				<div formGroupName="indicador">
					<div class="row mt-5">
						<div class="col-lg-6">
							<div>
								<label>Interpretacion</label>
								<input class="form-control" type="text" formControlName="interpretacion" [class.is-invalid]="interpretacionInvalido">
								<small *ngIf="interpretacionInvalido" class="text-danger">Este campo es requerido</small>
							</div>
						</div>
						<div class="col-lg-6">
							<div>
								<label>Procedencia de los datos</label>
								<input class="form-control" type="text" formControlName="procedenciaDatos" [class.is-invalid]="procedenciaDatosInvalido">
								<small *ngIf="procedenciaDatosInvalido" class="text-danger">Este campo es requerido</small>
							</div>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-lg-12">
							<div>
								<label>Metodología de recopilación</label>
								<input class="form-control" type="text" formControlName="metodologiaRecopilacion" [class.is-invalid]="metodologiaRecopilacionInvalido">
								<small *ngIf="metodologiaRecopilacionInvalido" class="text-danger">Este campo es requerido</small>
							</div>
						</div>
					</div>
					<h5 class="mt-4">Fórmula de cálculo</h5>
					<div class="row mt-4">
						<div class="col-lg-6">
							<div>
								<label>Numerador/Ejecución</label>
								<input class="form-control" type="text" formControlName="numerador" [class.is-invalid]="numeradorInvalido">
								<small *ngIf="numeradorInvalido" class="text-danger">Este campo es requerido</small>
							</div>
						</div>
						<div class="col-lg-6">
							<div>
								<label>Denominador/Programado</label>
								<input class="form-control" type="text" formControlName="denominador" [class.is-invalid]="denominadorInvalido">
								<small *ngIf="denominadorInvalido" class="text-danger">Este campo es requerido</small>
							</div>
						</div>
					</div>
				</div>
				<div class="row card-block mt-5">
					<div *ngIf="opcionDisponible('Crear nueva accion')"  class="col-lg-6">
						<input type="submit" class="btn btn-primary btn-block waves-effect" (click)="enviarFormulario(form)" *ngIf="params.id" value="Modificar accion">
					</div>
				</div>
				<div [formGroup]="formDetalle">
					<h2 class="mt-5">Detalle de la acción</h2>
					<div class="row mt-5">
						<div class="col-lg-12">
							<div>
								<label>Tarea</label>
								<input class="form-control" type="text" formControlName="tarea" [class.is-invalid]="tareaInvalido">
								<small *ngIf="tareaInvalido" class="text-danger">Este campo es requerido</small>
							</div>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-lg-6">
							<div>
								<label>¿Qué necesita para realizarla?</label>
								<input class="form-control" type="text" formControlName="entrada" [class.is-invalid]="entradaInvalido">
								<small *ngIf="entradaInvalido" class="text-danger">Este campo es requerido</small>
							</div>
						</div>
						<div class="col-lg-3">
							<div>
								<label>¿Quién solicita?</label>
								<select (change)="listadodepartamentosSolicita($event.target.value)" class="custom-select" formControlName="idDependenciaSolicita">
									<option selected disabled value="">Dependencia</option>
									<option [value]="dependencia.id" *ngFor="let dependencia of dependencias">{{dependencia.nombre | uppercase}}</option>
								</select>
							</div>
						</div>
						<div class="col-lg-3">
							<div style="margin-top: 3px;">
								<select class="custom-select mt-4" formControlName="idPuestoSolicita">
									<option selected disabled value="">Unidad/Depto.</option>
									<option [value]="departamentoSolicita.id" *ngFor="let departamentoSolicita of departamentoSolicita">{{departamentoSolicita.nombre}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-lg-6">
							<div>
								<label>¿Qué resultado genera?</label>
								<select class="custom-select" formControlName="resultadoDocumento" [class.is-invalid]="resultadoDocumentoInvalido">
									<option selected disabled value="">Seleccione</option>
									<option [value]="UnidadMedida.id" *ngFor="let UnidadMedida of listadoUnidadMedida">{{UnidadMedida.nombreUnidadMedida}}</option>
								</select>
								<small *ngIf="resultadoDocumentoInvalido" class="text-danger">Este campo es requerido</small>
							</div>
						</div>
						<div class="col-lg-3">
							<div>
								<label>¿Quién recibe el resultado?</label>
								<select (change)="listadodepartamentoRecibe($event.target.value)" class="custom-select" formControlName="idDependenciaResultado">
									<option selected disabled value="">Dependencia</option>
									<option [value]="dependencia.id" *ngFor="let dependencia of dependencias">{{dependencia.nombre}}</option>
								</select>
							</div>
						</div>
						<div class="col-lg-3">
							<div style="margin-top: 3px;">
								<select class="custom-select mt-4" formControlName="idPuestoResultado">
									<option selected disabled value="">Unidad/Depto.</option>
									<option [value]="departamentoRecibe.id" *ngFor="let departamentoRecibe of departamentoRecibe">{{departamentoRecibe.nombre}}</option> 
								</select>
							</div>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-lg-4">
							<label>Tiempo promedio para realizarla</label>
							<select class="custom-select" formControlName="idUnidadTiempo">
								<option selected disabled value="">Seleccione</option>
								<option [value]=1>Días</option>
								<option [value]=2>Horas</option>
								<option [value]=3>Minutos</option>
							</select>
						</div>
						<div class="col-lg-2">
							<div>
								<label>Duración</label>
								<input class="form-control" type="number" formControlName="duracion">
							</div>
						</div>
						<div class="col-lg-3">
							<div class="text-center">
								<label>¿Utiliza un sistema para realizarla?</label>
								<div>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="customRadioInline1" name="utilizaSistema" class="custom-control-input" formControlName="utilizaSistema" value=1 [checked]>
										<label class="custom-control-label" for="customRadioInline1">SI</label>
									</div>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="customRadioInline2" name="utilizaSistema" class="custom-control-input" formControlName="utilizaSistema" value=2>
										<label class="custom-control-label" for="customRadioInline2">NO</label>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3" >
							<div style="margin-top: 3px;">
								<label>Nombre del sistema</label>
								<select class="custom-select" formControlName="idSistema">
									<option selected disabled value="">Seleccione</option>
									<option [value]="sistema.id" *ngFor="let sistema of sistemas">{{sistema.nombre}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-lg-12">
							<div>
								<label>Observaciones</label>
								<input class="form-control" type="text" formControlName="observaciones">
							</div>
						</div>
					</div>
					<div *ngIf="opcionDisponible('Crear nueva accion')" class="row mt-5">
						<div class="input-group col-6">
							<button (click)="agregarEditarItem()" type="button" class="btn btn-primary mb-3"> <i class="fas fa-check "></i>{{editarDetalleIndice === -1 ? 'Agregar' : 'Editar'}}</button>
						</div>
					</div>
				</div>
				<div class="mt-5">
					<table class="table table-striped table-bordered row-border hover responsive text-center" style="margin: 0 auto;">
						<thead class="thead-dark">
							<tr>
								<th class="text-center">#</th>
								<th class="text-center">Nombre de la tarea</th>	
								<th class="text-center">Opciones</th>
							</tr>
						</thead>
						<tbody formArrayName="tareas">
							<tr *ngFor="let item of tareas.controls; let i = index">
								<td class="text-center" style="width: 20px;">{{i + 1}}</td>
								<td style="width: 500px;">
									{{item.get('tarea').value}}
								</td>
								<td class="text-center" style="width: 200px;">
									<button *ngIf="opcionDisponible('Crear nueva accion')" type="button" class="btn btn-sm btn-success mr-2" (click)="editarItem(i)"> <nb-icon icon="edit-2-outline"></nb-icon></button>
									<button *ngIf="opcionDisponible('Crear nueva accion')" type="button" class="btn btn-sm btn-danger" (click)="eliminarItem(i)"> <nb-icon icon="trash-2-outline"></nb-icon></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row card-block mt-5">
					<div class="col-lg-6">
						<input type="submit" class="btn btn-primary btn-block waves-effect" (click)="enviarFormulario(form)" *ngIf="!params.id" value="Crear acción">
					</div>
				</div>
			</form>
			<div class="row card-block mt-5" *ngIf="mostrarBotonesRevision()">
				<div class="col-lg-1"> 
					<button (click)="validarAccion()" type="button" class="btn btn-sm btn-primary">Validar</button>
				</div>
				<div class="col-lg-1">
					<button (click)="mostrarCampoObservaciones()" type="button" class="btn btn-sm btn-danger">Rechazar</button>
				</div>
			</div>
			<div class="row card-block mt-5" *ngIf="mostrarBotonesAprobacion()">
				<div class="col-lg-1"> 
					<button (click)="aprobarAccion()" type="button" class="btn btn-sm btn-primary">Aprobar</button>
				</div>
				<div class="col-lg-1">
					<button (click)="mostrarCampoObservaciones()" type="button" class="btn btn-sm btn-danger">Rechazar</button>
				</div>
			</div>
			<div class="row mt-5" [formGroup]="form" *ngIf="mostrarObservaciones()">
				<div class="col-lg-12" formGroupName="accion">
					<div>
						<label>Observaciones</label>
						<textarea class="form-control" formControlName="observaciones" [attr.disabled]="bloquearObservaciones()">
						</textarea>
					</div>
				</div>
			</div>
			<div class="row card-block mt-5 mb-5" *ngIf="mostrarObservaciones() && mostrarBotonesRevision() || mostrarBotonesAprobacion()">
				<div class="col-lg-3">
					<button (click)="rechazarAccion()" type="button" class="btn btn-sm btn-danger">Confirmar rechazo</button>
				</div>
			</div>
		</div>
	</div>
</div>